<!--Componente que define la informacion que se muestra en  pantallla de cada producto, relacionado con Hu9  y  Hu6-->
<div>
    <div class="product">
        <ng-content>

        </ng-content>
        <div class="imagen">
            <img src="{{url+'GetImagen/'+product.imagen}}" *ngIf="product.imagen">
        </div>
        <h3>
            {{product.nombre}}
        </h3>

        <p>TIPO: {{product.tipo}}</p>
        <div *ngIf="SeeMore">
            <p>{{product.caracteristicas}}</p>
            <p>CANTIDAD DISPONIBLE: {{product.cantidad}}</p>
        </div>
        <p class="precio">PRECIO: {{product.precio |currency:"COP":"symbol-narrow":"1.0-0"}} </p>
        <button (click)="SeeMore =!SeeMore;clicked=!clicked ">{{!SeeMore? "Ver mas":"Ocultar"}}</button>
        <div *ngIf="clicked" class="desplegable">
            <form #Form>
                <label>Cantidad</label>
                <input type="number" #cantidad min="1" max={{product.cantidad}}
                    (input)="ajustarValorCantidad(cantidad)">
                <button *ngIf="cantidad.valueAsNumber > 0"
                    (click)="carService.addToCar(product,cantidad.valueAsNumber)">Agregar a carito</button>
            </form>
        </div>
    </div>

</div>