<div class="carritoItem" *ngIf="itemCarrito.cantidad > 0">
    <div class="productForm" (click)="clicked = !clicked">
        <div>
            Nombre: {{itemCarrito.nombre}}
        </div>

        <div>
            cantidad reservada: {{itemCarrito.cantidad}}
        </div>

        <div>
            precio: {{itemCarrito.precio |currency:"COP":"symbol-narrow":"1.0-0"}}
        </div>
        <div>
            <div class="imagen">
                <img *ngIf="itemCarrito.imagen" src="{{url+'GetImagen/'+itemCarrito?.imagen}}">
            </div>
        </div>
    </div>
    <div *ngIf="clicked">
        <form #Form>
            <label>Cantidad</label>
            <input type="number" #cantidad min="1" max={{itemCarrito.cantidad}}
                (input)="ajustarValorCantidad(cantidad)">

            <button *ngIf="cantidad.valueAsNumber > 0"
                (click)="carService.takeOutCarItem(itemCarrito,cantidad.valueAsNumber)">sacar del carito</button>
        </form>
    </div>
</div>