<div class="carritoItem">
    <ul (click)="clicked = !clicked">
        <li>
            Nombre: {{itemCarrito.nombre}}
        </li>

        <li>
            cantidad reservada: {{itemCarrito.cantidad}}
        </li>

        <li>
            precio: {{itemCarrito.precio}}
        </li>
        <li>
            <img *ngIf="itemCarrito.imagen" src="{{url+'GetImagen/'+itemCarrito?.imagen}}">
        </li>
    </ul>
    <div *ngIf="clicked">
        <form #Form>
            <label>Cantidad</label>
            <input type="number" #cantidad>
            <button (click)="carService.takeOutCarItem(itemCarrito,cantidad.valueAsNumber)">sacar del carito</button>
        </form>
    </div>
</div>