<!--Barra de navegacion que nos permite acceder a los distintos componentes disponibles deacuerdo al rol del usuario-->
<app-logo></app-logo>
<div class="nav">
    <ng-template #guest>
        <ul class="CajaLinks">
            <li *ngFor=" let link of Links">
                <a [routerLink]="'/'+link" [routerLinkActive]="['actived']" class="links">{{link}}</a>
            </li>
        </ul>
    </ng-template>
    <ng-template #Cliente>
        <ul class="CajaLinks">
            <li *ngFor=" let link of LinksCliente">
                <a [routerLink]="'/'+link" [routerLinkActive]="['actived']" class="links">{{link}}</a>
            </li>
        </ul>
    </ng-template>

    <div #admin *ngIf="_auth.isAdmin.value  else  _auth.isClient.value ? Cliente : guest ">
        <ul class="CajaLinks">
            <li *ngFor=" let link of LinksAdmin">
                <a [routerLink]="'/'+link" [routerLinkActive]="['actived']" class="links">{{link}}</a>
            </li>
        </ul>
    </div>
</div>