.CajaLinks {
    display: inline-flex;
    background: color #f26a1b;
    height: 4rem;
    width: 100%;
}

.CajaLinks li {
    list-style: none;
    width: 10rem;
    background-color: #f2610d;
    border: solid 0.1rem #f2cb05;
    text-align: center;

}

.CajaLinks li a.actived {
    background-color: #e97c3cfb;


}

.CajaLinks li a {
    color: white;
    text-decoration: none;
    display: block;
    height: 3.9rem;
    display: flex;
    justify-content: center;
    align-items: center;

}