<ng-template #noAdmin>
    <ul class="CajaLinks">
        <app-logo></app-logo>
        <li *ngFor=" let link of Links">
            <a [routerLink]="'/'+link" [routerLinkActive]="['actived']" class="links">{{link}}</a>
        </li>
    </ul>
</ng-template>
<ng-template #Cliente>
    <ul class="CajaLinks">
        <app-logo></app-logo>
        <li *ngFor=" let link of LinksCliente">
            <a [routerLink]="'/'+link" [routerLinkActive]="['actived']" class="links">{{link}}</a>
        </li>
    </ul>
</ng-template>

<ul *ngIf="_auth.isAdmin |async; else  _auth.isClient.value ? Cliente : noAdmin " class="CajaLinks">
    <app-logo></app-logo>
    <li *ngFor=" let link of LinksAdmin">
        <a [routerLink]="'/'+link" [routerLinkActive]="['actived']" class="links">{{link}}</a>
    </li>
</ul>