<!--Formulario para editar un producto Hu3-->
<div class="productForm container">
    <h2 class="title">{{title}}</h2>
    <div class="message Success" *ngIf="status =='Success'">El producto ha sido editado correctamente, puedes verlo <a
            [routerLink]="['/Producto',product._id]">AQUI</a></div>
    <div class="message Failed" *ngIf="status ==' Failed'">El producto no se ha podido guardar </div>
    <form #productForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Nombre del producto</label>
            <input name="name" type="text" #nombre="ngModel" [(ngModel)]="product.nombre" required>
            <span *ngIf="nombre.touched && !nombre.value" class="formError">Este campo es obligatorio</span>
        </div>
        <div>
            <label for="caracteristicas">Caracteristicas del producto</label>
            <textarea name="caracteristicas" type="text" #caract="ngModel" [(ngModel)]="product.caracteristicas"
                required></textarea>
            <span *ngIf="caract.touched && !caract.value" class="formError">Este campo es obligatorio</span>
        </div>
        <div>
            <label for="tipo">Tipo de producto</label>
            <select name="miselect" #tipo="ngModel" [(ngModel)]="selecionado" required>
                <option [ngValue]="objeto" *ngFor="let objeto of tablaIva">{{objeto.descripcion}}</option>
            </select>
            <span *ngIf="tipo.touched && !tipo.value" class="formError">Este campo es obligatorio</span>
        </div>
        <div>
            <label for="precio">Precio del producto</label>
            <input min="0" name="precio" type="number" #precio="ngModel" [(ngModel)]="product.precio" required>
            <span *ngIf="precio.touched && !precio.value" class="formError">Este campo es obligatorio</span>
        </div>
        <div>
            <label for="cantidad">Cantidad de producto</label>
            <input min="0" name="cantidad" type="number" #cantidad="ngModel" [(ngModel)]="product.cantidad" required>
            <span *ngIf="cantidad.touched && !cantidad.value" class="formError">Este campo es obligatorio</span>
        </div>
        <div class="imagen">
            <label for="imagen">Imagen del producto</label>
            <img src="{{url+'GetImagen/'+product.imagen}}" *ngIf="product.imagen">
            <input name="imagen" type="file" placeholder="Subir imagen" #imagen (change)="fileChangeEvent($event)"
                required>
            <span *ngIf="!imagen.value" class="formError">Este campo es obligatorio</span>
        </div>
        <input type="submit" value="Enviar" [disabled]="!productForm.form.touched">
    </form>
</div>