body {
    background-color: rgb(251, 251, 8);
    padding: 0;
    margin: 0;
    font-family: cursive;
}

ul {
    margin: 0;
}

.container {
    background-color: rgb(244, 243, 236);
    width: 70%;
    margin-inline: auto;
    margin-bottom: 1rem;
    overflow: hidden;
}

footer {
    background-color: black;
    color: white;
    top: 97%;
    position: fixed;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    transition: 300ms;
}

.imagen img {
    width: 8rem;
    height: 8rem;
}

.productForm,
.UserForm {
    margin-left: 3rem;
}

.productForm label,
.UserForm label {
    display: block;
    margin: 0.5rem 0 0.5rem;
}

.productForm .imagen img {
    display: block;
    margin: 0.5rem 0 0.5rem;
}

input[type="submit"i] {
    display: block;
    margin: 0.5rem 0 0.5rem;
}