body {
    background-color: beige;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
}

.container {
    background-color: azure;
    width: 70%;
    margin-inline: auto;
    margin-bottom: 1rem;
    overflow: hidden;
}

footer {
    background-color: black;
    color: white;
    top: 97%;
    position: fixed;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    transition: 300ms;
}

.imagen img {
    width: 8rem;
    height: 8rem;
}

.productForm {
    margin-left: 3rem;
}

.productForm label {
    display: block;
    margin: 0.5rem 0 0.5rem;
}

.productForm .imagen img {
    display: block;
    margin: 0.5rem 0 0.5rem;
}

input[type="submit"i] {
    display: block;
    margin: 0.5rem 0 0.5rem;
}