<!--Deacuerdo al rol del usaurio cambia lo que se vera en pantalla-->
<div class="container">
    <h2 class="title">Estadisticas de usuario</h2>
    <ng-template #Cliente>
        <h2>Dinero gastado en la tienda: {{dineroTotal |currency:"COP":"symbol-narrow":"1.0-0"}}</h2>
        <h1>Historial de compra:</h1>
    </ng-template>
    <div *ngIf="_auth.isAdmin.value else Cliente">
        <h2>Dinero ganado en la tienda: {{dineroTotal |currency:"COP":"symbol-narrow":"1.0-0"}}</h2>
        <h1>Historial de ventas:</h1>
    </div>
    <ul class="EstadisticasProductos">
        <li *ngFor="let item of items">
            <h2>Nombre: {{item.nombre}}</h2>
            <h3>Cantidad : {{item.cantidad}}</h3>
            <div class="imagen">
                <img src="{{url+'GetImagen/'+item.imagen}}">
            </div>
        </li>

    </ul>
</div>