<!--Vista de los productos para usuario estandar, permite filtrar los productos por tipo Hu7-->
<div class="container">
    <h2 class="title">Productos</h2>
    <div class="Buscador">
        <div>
            <p>Buscar producto por tipo </p>
        </div>
        <div class="col-9">
            <input arial-label="Search" type="search" placeholder="Buscar producto" class="form-control"
                (keyup)="Loadproduct()" [(ngModel)]="search">
        </div>
    </div>
    <div class="products">
        <div *ngFor="let product of products ">
            <div *ngIf="product.cantidad > 0">
                <app-product-preview [product]="product"></app-product-preview>
            </div>
        </div>
    </div>
</div>