<!--Formulario para iniciar sesion en la pagina-->
<div class="container">
    <h2 class="title">Inicio de sesión</h2>
    <div class="message Success" *ngIf="Inicio =='Success'">Inicio de sesion correcto</div>
    <div class="message Failed" *ngIf="Inicio =='Failed'">Inicio de sesion incorrecto</div>
    <div class="message Failed" *ngIf="Inicio =='NombreErroneo'">Inicio de sesion incorrecto nombre no correcto</div>
    <form #loginForm="ngForm" class="UserForm">
        <div>
            <label for="UserName">Nombre de Usuario</label>
            <input name="UserName" type="text" #UserName="ngModel" [(ngModel)]="username" required>
            <span *ngIf="UserName.touched && !UserName.value" class="formError">Este campo es obligatorio</span>
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input name="password" type="password" #password="ngModel" [(ngModel)]="Password" required>
            <span *ngIf="password.touched && !password.value" class="formError">Este campo es obligatorio</span>
        </div>
        <button (click)="onSubmit()">
            Iniciar sesión
        </button>
    </form>
</div>