<div class="container">
    <h2 class="title">Productos</h2>
    <div class="Buscador">
        <div>
            <p>Buscar producto por tipo </p>
        </div>
        <div>
            <input arial-label="Search" type="search" placeholder="Buscar producto" class="form-control"
                (keyup)="Loadproduct()" [(ngModel)]="search">
        </div>
    </div>
    <ul class="products">
        <li *ngFor="let product of products">
            <div (dblclick)=" NavigateToProduct(product._id)" #product>
                <app-product-preview [product]="product"></app-product-preview>
            </div>
        </li>
    </ul>
</div>