<div class="container">
    <h2 class="title">Productos</h2>
    <div class="Buscador">
        <div>
            <p>Buscar producto por tipo </p>
        </div>
        <div>
            <input arial-label="Search" type="search" placeholder="Buscar producto" class="form-control"
                (keyup)="Loadproduct()" [(ngModel)]="search">
        </div>
    </div>
    <div class="products">
        <div *ngFor="let product of products">
            <div>
                <app-product-preview [product]="product">
                    <button class="bttn-edit" (click)=" NavigateToProduct(product._id)">Editar</button>
                </app-product-preview>
            </div>
        </div>
    </div>
</div>