<!--Formulario para realizar el proceso final de pago de los productos del carrito Hu11-->
<div class="UserForm container">
    <h2 class="title">Pagar carrito de compra</h2>

    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div #parte1>
            <div>
                <label for="nombre">Nombre</label>
                <input name="nombre" type="text" #nombre="ngModel" [(ngModel)]="user.nombre" required>
                <span *ngIf="nombre.touched && !nombre.value" class="formError">Este campo es obligatorio</span>
            </div>
            <div>
                <label for="edad">Edad</label>
                <input name="edad" type="number" #edad="ngModel" [(ngModel)]="user.edad" min="0" max="140" required>
                <span *ngIf="edad.touched && !edad.value" class="formError">Ingrese una edad valida</span>
            </div>
            <div>
                <label for="direccion">Dirección</label>
                <input name="direccion" type="text" #direccion="ngModel" [(ngModel)]="user.direccion" required>
                <span *ngIf="direccion.touched && !direccion.value" class="formError">Este campo es obligatorio</span>
            </div>
            <div>
                <h3>Medio de pago</h3>
                <input name="mediopago" #mp1 type="radio" (change)="medioPago = 0">
                <label>Credito</label>
                <input name="mediopago" #mp2 type="radio" (change)="medioPago = 1">
                <label>Debito</label>
                <input name="mediopago" #mp3 type="radio" (change)="medioPago = 2">
                <label>Contra entrega</label>
            </div>
        </div>
        <div #parte2 *ngIf="medioPago<2 && medioPago>-1">
            <label for="correo"> correo electronico</label>
            <input type="email" name="correo" #correo="ngModel" [(ngModel)]="email" placeholder="Enter an Email" />
            <span *ngIf="correo.touched && !correo.value " class="formError">Este campo es obligatorio</span>
            <span class="formError" *ngIf="InvalidEmail">Ingrese un correo valido</span>
            <label for="cuenta"> numero de cuenta</label>
            <input type="text" name="cuenta" #numcuenta="ngModel" [(ngModel)]="cuenta" autocomplete="off">
            <span *ngIf="numcuenta.touched && !numcuenta.value" class="formError">Este campo es obligatorio</span>
            <label for="clave"> clave</label>
            <input type="password" name="clave" #pass="ngModel" [(ngModel)]="clave" autocomplete="off">
            <span *ngIf="pass.touched && !pass.value" class="formError">Este campo es obligatorio</span>
        </div>
        <input type="submit" value="Enviar" [disabled]="!ValidarDatos()">
    </form>
    <button (click)="cancelar()">cancelar</button>
</div>