.itemsCarrito {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    background: linear-gradient(0deg, rgb(250, 250, 250) 0%, rgba(240, 240, 240, 1) 100%);
}

.TotalLbl {
    margin: 25px;
    display: grid;
    justify-content: center;
    font-size: 25px;
}

button {
    margin-top: 0.2rem;
    justify-content: center;
}