.itemsCarrito {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    list-style: none;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(115, 231, 255, 1) 100%);
}

.TotalLbl {
    margin: 25px;
    display: grid;
    justify-content: center;
    font-size: 25px;
}

button {
    margin-top: 0.2rem;
    justify-content: center;
}